.st0 {
  fill: #D0C3A4;
}
.st1 {
  fill: #CDBC91;
}
.st2 {
  fill: #24807B;
}
.st3 {
  fill: #65A59F;
}
.st4 {
  fill: #CCB889;
}
.st5 {
  fill: #CAB37E;
}
.st6 {
  fill: #128678;
}
.st7 {
  fill: #61A19C;
}
.st8 {
  fill: #006B68;
}
.st9 {
  fill: #378983;
}
.st10 {
  fill: #CEC09C;
}
.st11 {
  fill: #C5A864;
}
.st12 {
  fill: #318681;
}
.st13 {
  fill: #BB963C;
}
.st14 {
  fill: #579A95;
}
.st15 {
  fill: #29837E;
}
.st16 {
  fill: #C09E50;
}
.st17 {
  fill: #CCB682;
}
.st18 {
  fill: #BF9A40;
}
.st19 {
  fill: #418F8A;
}
.st20 {
  fill: #C8AD71;
}
.st21 {
  fill: #C5AA6C;
}
.st22 {
  fill: #C1A257;
}
.st23 {
  fill: #BB9434;
}
.st24 {
  fill: #529793;
}
.st25 {
  fill: #C5A65E;
}
.st26 {
  fill: #CFBE97;
}
